
body {
    background-color: whitesmoke;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: normal;
}
li{
    list-style-type: none;
}




